body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    background-image: url("../../assets/pxfuel.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    width: 700px;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

.input-container {
    display: flex;
    margin-bottom: 25px;
}

.input-container input {
    flex: 1;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.input-container button {
    padding: 15px 25px;
    font-size: 18px;
    background-color: #0b6a6e;
    color: #fff;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0b6a6e;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #e6f7ff;
    border-radius: 6px;
    font-size: 18px;
}

li.completed span {
    text-decoration: line-through;
    color: #888;
}

.checkbox {
    margin-right: 15px;
    width: 18px;
    height: 18px;
}

.actions {
    display: flex; 
   gap: 15px; 
}

.edit-btn, .delete-btn {
   background: none; 
   border: none; 
   cursor: pointer; 
   font-size: 22px; 
   color: #6c63ff; 
}

.edit-btn:hover {
   color: #5a54d6; 
}

.delete-btn {
   color: #ff4d4f; 
}

.delete-btn:hover {
   color: #d9363e; 
}

.save-btn {
   display: block; 
   margin: 30px auto 0; 
   padding: 15px 30px; 
   font-size: 18px; 
   background-color: #6c63ff; 
   color: #fff; 
   border:none; 
   border-radius :6 px ; 
   cursor:pointer; 
}

.save-btn:hover {
   background-color:#5a54d6 ; 
}
